{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Andreas{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="template, html, sass, jquery">
  <meta name="author" content="Andreas Lind">
  <link rel="stylesheet" href="{% static 'andreas_template/css/main.css' %}">
</head>

{% block content %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="{% static 'andreas_template/js/functions-min.js' %}"></script>
</body>
</html>